.aptos/
build/
/test
/aptoosh-sync/dist
/aptoosh-frontend/stats.html
/merxet-frontend/stats.html
/merxet-smartcontract/.env
/merxet-smartcontract/artifacts
/merxet-smartcontract/node_modules
/merxet-sync/dist
/merxet-smartcontract/cache
