PORT=3000
NODE_ENV=development
SYNC_INTERVAL=12

BUNNY_STORAGE_ZONE=
BUNNY_API_KEY=

# Hedera sync
HEDERA_POLL_INTERVAL_MS=10000
HEDERA_BLOCK_BATCH_SIZE=10000

# Testnet
HEDERA_TESTNET_RPC_URL=https://testnet.hashio.io/api
HEDERA_TESTNET_CONTRACT_ADDRESS=0x<evm_contract_address>
HEDERA_TESTNET_START_BLOCK=0

# Mainnet
HEDERA_MAINNET_RPC_URL=https://mainnet.hashio.io/api
HEDERA_MAINNET_CONTRACT_ADDRESS=0x<evm_contract_address>
HEDERA_MAINNET_START_BLOCK=0